
.Button {
  margin: 15px;
  box-shadow: 0 1px 0 0 #f0f7fa;
  border-radius:6px;
  border:1px solid #057fd0;
  display:inline-block;
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
  cursor: pointer;
  width: 140px;
}

.Button:hover {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
}

.Button:active {
  position:relative;
  top:1px;
}

Button.modal {
  color: whitesmoke;
}
