.Body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.booksContainer {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1550px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}